@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');

body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.roboto-bold {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}