.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.items-center{
    align-items: center;
}